click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
numpy~=1.20.1
matplotlib~=3.4.0
pip~=21.0.1
setuptools~=54.2.0
mysql-connector-python~=8.0.23
greenlet~=1.0.0
SQLAlchemy~=1.4.3
celery~=5.0.5
dill~=0.3.3
redis~=3.5.3
rq~=1.7.0
billiard~=3.6.3.0
locust~=1.4.3